// Specific CSS for your home-page

.content-home {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  flex-grow: 1;
  padding: 16px;
}

.container {
  h1 {
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: 500;
  }
}
