<div class="form">
  <h3>Add a booking</h3>
  <%= simple_form_for [ @monument, @booking ] do |f| %>
    <%= f.input :date_of_arrival, as: :date, start_year: Date.today.year,
                                       end_year: Date.today.year + 10,
                                       order: [:day, :month, :year]%>
    <%= f.input :duration %>
    <%= f.submit "Submit booking",  class: "btn btn-primary" %>
  <% end %>
</div>
