<%= link_to monument_path(monument), class: 'card-monument' do %>
    <div class="card-img">
      <%= image_tag cl_image_path monument.photos[0].key %>
    </div>
    <div class="card-info-marker">
      <p><%= monument.name %></p>
      <p><%= monument.average %> <i class="fas fa-star"></i></p>
    </div>
<% end %>

