<div class="container">
  <div class="index-text">
    <h1>Just choose...</h1>
    <h5>Une liste des plus beaux endroits de la planète séléctionnez pour vous...</h5>
  </div>
</div>
<div class="container">
    <div class="cards">
      <% @monuments.each do |monument| %>
        <%= link_to monument_path(monument), class: 'card-monument' do %>
            <div class="card-img">
              <%= image_tag cl_image_path monument.photos[0].key %>
            </div>
            <div class="card-info">
              <p><%= monument.name %></p>
              <p><%= monument.average_rating %> <i class="fas fa-star"></i></p>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
