<div class="container" style="height: 130vh">
  <div class="login-container">
    <div class="card-form d-flex justify-content-center">
      <div class="rv-p">
        <div class="review-form">
          <h1>Ajouter un monument</h1>
            <%= link_to 'Back', monuments_path, class: "btn btn-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>




