<div class="container">
  <h1><%= @monument.name %></h1>
  <% if @monument.photos.attached? %>
    <%= cl_image_tag @monument.photos[0].key, height: 150, width: 200, crop: :fill , class: "text-center"%>
  <% end %>
  <p><%= @monument.description %></p>
</div>

<%= render 'footer' %>
