<div class="footer" id="sticky-footer">
  <div class="footer-links">
    <a href="https://github.com/FranckSiguier/rent_a_monument" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/p/CHxG6AhgNHq/?utm_source=ig_web_copy_link" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/watch?v=7Dbuc6vIRnE&ab_channel=Architecture" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">
    Rent a monument, pour les riches comme vous <i class="fas fa-heart"></i>
  </div>
</div>
