<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1523284419275-4a585c754c4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1363&q=80);">
  <div class="container">
    <h1>Rent a Monument</h1>
  <h6>Est-ce que tu préfères louer une cabane au fond d'un jardin ou le Taj Mahal pour ta soirée privée ? Je crois que la question est vite répondue...</h6>
     <a> <%= link_to "VOIR LES MONUMENTS", monuments_path, class: 'btn btn-outline-success' %></a>
  </div>
</div>

<%= render 'shared/sample' %>
