.cards {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  flex-grow: 1;
  margin-top: 30px;
  padding-top: 50px;
}
.card-monument {
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  // display: flex;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  text-decoration:none;
}


.card-monument img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

