.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 20px;
  a {
    text-decoration: none;
    color: grey;
    &:hover {
      color: #3e3e3e;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-item: center;
    p {
      margin-top: 3px;
      font-size: 13px;
      .fas {
        font-size: 16px;
        color: #F2A918;
      }
    }
  }
}

.card {
  padding: 20px;
  img {
    height: 200px;
  }
  h4 {
    padding: 0;
  }
  .avatar, p, h5 {
    margin-left: 10px;
    height: 39px;
    font-size: 10px;
  }
}

.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-item: center;
  height: 100%;
  padding: 10px;
}

.add-monument {
  margin-top: 30px;
  margin-bottom: 10px;
}

.carousel-item img {
  height: 200px;
  width: 100%;
}

