.container-product {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.booking {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-top: 210px;

  .form-group {
    padding-bottom: 60px;

  }

  .booking-price {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;

  }

  #description {
    flex-grow: 1;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
  }

  h3 {
    text-align: left;
    padding-top: 12px;
  }

  p {
    text-align: left;
  }
}


.monument {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  width: 100%
}

.monument-infos {
  display: flex;
  justify-content: flex-start;
  border-radius: 1px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  p {
    margin-top: 12px;
    padding-right: 20px;
  }

   .fas {
    color: yellow;
  }

  img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
}


.monument-photos {

  width: 85%;

  .carousel-inner {
    border-radius: 15px;

  }

  img {
    height: 700px!important;
    width: 100%!important;
  }
  p {
    padding-top: 25px;
  }
}

