.container-product {
  display: flex;
}

.booking {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  margin-top: 250px;
}


.monument {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.monument-infos {
  display: flex;
  justify-content: flex-start;
  border-radius: 1px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  p {
    margin-top: 12px;
    padding-right: 20px;
  }

   .fas {
    color: yellow;
  }

  img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
}


.carousel-inner {
}
.monument-photos {

  width: 65%;

  img {
    height: 700px!important;
    width: 100%!important;
  }
  p {
    padding-top: 25px;
  }
}

