.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding: 16px;
  width: 400%;
}

.content {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.card-monument {
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  text-decoration: none!important;
  color: black;
}


.card-monument img {

  opacity: 0.9;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-img {
  flex-grow: 1;
  height: 300px;
}

.card-monument img:hover {
  box-shadow: 0px 4px 8px rgba(38,38,38,0.2);
  top: -4px;
  color: white;
  opacity: 1;
  border: 2px solid white;
}

a:hover {
  color: black;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;

  .fas {
    color: #F2A918;
  }
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-bottom: 40px;
  margin-top: 16px;
  border-radius: 12px;
}


