.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  flex-grow: 1;
  padding-top: 25px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-review {
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  text-decoration: none!important;
  color: black;
}


.card-review img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.card-user-infos {
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  align-items: center;

  p {
    margin-top: 12px;
    padding-left: 12px;
  }

  .fas {
    color: #F2A918;
  }

  #review-title {
    font-size: 22px;
    font-weight: 600;
  }

}

.card-review-infos {
  display: flex;
  flex-direction: column;
  padding: 8px;
  text-align: justify;
  text-justify: inter-word;

  #user-name-date {
    font-style: italic;
    font-size: 14px;
  }
}
