// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import 'mapbox-gl/dist/mapbox-gl';


// Your CSS partials
@import "components/index";
@import "pages/index";


@media (min-width: 576px) {
  .container {
      max-width: 700px !important;
  }
  .reviews {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  }
  #map {
    width: 0px !important;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
  .cards-home {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .card-container {
    grid-template-columns: 1fr 1fr;
  }

}



@media (min-width: 992px) {
  .container {
    max-width: 850px !important;
  }
  .reviews {
  grid-gap: 50px;
  }

  #map {
    width: 3000px !important;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .cards-home {
    grid-gap: 40px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px !important;
  }
  .reviews {
  grid-template-columns: 1fr 1fr 1fr;
  }

  #map {
    width: 5000px !important;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }

}


@media (min-width: 1400px) {
  .container {
    max-width: 1200px !important;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

}


@media (min-width: 1600px) {
  .container {
    max-width: 1200px !important;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

}





.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.index-text {
  margin-left: 50px;
  margin-right: 30px;
  text-align: left;
  padding-top: 25px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;

  h1 {
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 500;
  }

  h5 {
    font-weight: 50;
    font-family: 'Poppins', sans-serif;
  }
}

h4 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-top: 25px;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

.text-left {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 5px;
}
