// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import 'mapbox-gl/dist/mapbox-gl';


// Your CSS partials
@import "components/index";
@import "pages/index";




.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1200px;
  }

}




.index-text {
  margin-left: 50px;
  margin-right: 30px;
  text-align: left;
  padding-top: 25px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;

  h1 {
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 500;
  }

  h5 {
    font-weight: 50;
    font-family: 'Poppins', sans-serif;
  }
}

h4 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-top: 25px;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

.text-left {
  padding: 15px;
  margin-left: 5px;
}
